/*
Colors used:
Primary Color (Dark Blue): #091C36;
Primary Color (Light Blue): #2A7DF5;
Primary Color (Grey): #585858;
Primary Color (Off White) #F7F7F7;
Secondary Color (Dark Red): #9C4542;
Secondary Color (Redish Brown) #cc6540;
Secondary Color (Pale Yellow): #E8D591;
Secondary Color (Peach Orange): #ED9871;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #F7F7F7;
  font-family: 'Asap', sans-serif;
  font-size: 18px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #585858;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #091C36;
  text-decoration: none;
  /* No underlining */
}

a:hover {
  color: #091C36;
  text-decoration: underline;
  /* Underlining when hovering over a link */
}


a:visited {
color: #2A7DF5;
}
a:active {
  /* selected link */
  color: #F7F7F7;
}

a:hover,
a:focus {
  color: #091C36;
  text-decoration: underline;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color:  #F7F7F7;
  color: #091C36;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
border: 4px solid #091C36;
  /* width of the border, type, color */
transition-duration: 0.2s;
  transition-property: opacity;
}
.button:hover {
  background-color: #091C36;
  color: #F7F7F7;
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #091C36;
  text-transform: uppercase;
  border: 4px solid #091C36;
}

.button.contact:hover {
  background-color: #091C36;
  color: #F7F7F7;
}

#my-link {
  /* id selector */
  color: Blue;
}

/* Layout styling */
* {
  box-sizing: border-box;
}
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero {
  text-align: center;
  /* Centers text */
}
#hero span {
  display: block;
}
.logo {
  max-width: 150px;
  text-align: center;
}
header {
  background-color: #091C36;
  padding: 10px 0 4px;
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  position: relative
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav > ul > li > a {
  display: inline-block;

  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #F7F7F7;
}
nav > ul > li > a:hover{
  opacity: 0.6;
  /* Reduces the opacity of the button to 60% */
}
nav > ul > li > a:visited{
  color: #F7F7F7;
}
nav > ul > li > a:active{
color: #F7F7F7;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}
.navtoggle.responsive li  {
  display: block;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}

#hero {
  background-color: #F7F7F7;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}
#contact {
  text-align: center;
/* Centers text */}
#social{
  svg {
  max-width: 50px;
  height: 50px;
}
}
  /* ==============================
  Medium devices (640px and larger)
  ================================= */
  @media only screen and (min-width: 641px) {
    [class*="col-"] {
      float: left;
      padding: 10px;
    }
    header {
      text-align: unset;
      padding: 20px 0 13px;
    }

    nav {
      width: auto;
      float: right;
      margin-top: 4px;
    }
    .col-md-6 {
  width: 50%;
}
#about-page h3 { margin-top: 0;}

nav > ul > li {
  display: inline-block;
}

.logo {
  max-width: 250px;
  text-align: center;
}
.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
nav > ul {
  margin: 1em 0;
}
  }
  /* ==============================
  Large devices (1024px or larger)
  ================================= */
  @media only screen and (min-width: 1024px) {
    .col-lg-7 {
  width: 58.33%;
  }
  .col-lg-5 {
width: 41.66%;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
}
  /* ==============================
  X-large devices (1440px or larger)
  ================================= */
  @media only screen and (min-width: 1440px) {
  }
  /* ==============================
  Extra-large devices (1920px or larger)
  ================================= */
  @media only screen and (min-width: 1920px) {
  }
  @keyframes color-change {
    from {fill: #edc655;}
    to {fill: #f76414;}
  }
  .sun {
  animation: 4s color-change infinite alternate linear;
}
@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px,50px);}
}
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}
@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
