/*
Colors used:
Primary Color (Dark Blue): #091C36;
Primary Color (Light Blue): #2A7DF5;
Primary Color (Grey): #585858;
Primary Color (Off White) #F7F7F7;
Secondary Color (Dark Red): #9C4542;
Secondary Color (Redish Brown) #cc6540;
Secondary Color (Pale Yellow): #E8D591;
Secondary Color (Peach Orange): #ED9871;
*/

body {
  background-color: lightgrey;
  font-family: 'Asap', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
    font-weight: 300; /* Sets the font weight to 300 */
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
    color: #4a4a4a;
  }

  h1, h2, h3, h4 {
    line-height: 1.4;
  }
  h1 {
    font-size: 2.75em;
    font-weight: 700;
  }

  h2 {
    font-size: 2.25em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.75em;
    font-weight: 400;
  }
  h4 {
    font-size: 1.35em;
    font-weight: 400;
  }
  img {
    width: 100%;
  }
  a {
  color: #ED9871;
  text-decoration: none; /* No underlining */
}
a:hover {
  color: #cc6540;
  text-decoration: underline; /* Underlining when hovering over a link */
}
a:visited { /* visited link */
  color: #F7F7F7
;
}
a:active { /* selected link */
  color: #F7F7F7;
}
a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #091C36;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #2A7DF5; /* width of the border, type, color */
  transition: 0.2s opacity;
}
.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
.button.contact {
  background-color: transparent;
  color: #ED9871;
  text-transform: uppercase;
  border: 2px solid #ED9871;
}
.button.contact:hover {
  background-color: #ED9871;
  color: #F7F7F7;
}
#my-link {/* id selector */
  color: Blue;  
}
